
body {
  margin: 0;
  background : #000;
  font-color: #00FF66;
  font-size: calc(12px + 2vmin);
  font-family: 'VT323';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
